<%= render "layouts/navbar", title:"CATEGORIES" %>
<section class="container bg vh-100 py-3">
<%= render "layouts/flash" %>
<% @categories.each_with_index do |category, i| %>
    <%= render category, total:@totals[i] %>
<% end %>

<div class="fixed-bottom w-100 d-flex align-items-center justify-content-center bg-success p-4 border-top border-light shadow-md">     
     <%= link_to "Add new Category", new_category_path, class: "btn btn-outline-light btn-block text-uppercase" %>
</div>
</section>